<!-- product_create_or_update.html -->

{% extends 'training/base.html' %}

{% block content %}
<form enctype="multipart/form-data" class="container" method="post" id="product_form">
    {% csrf_token %}
    <!-- main form start --- in our case product form -->
    <div class="card">
        <div class="card-header card-header-secondary">
            <h4 class="card-title">Add Products</h4>
        </div>
        {% for field in form %}
            <div class="form-group card-body">
                <label>{{field.label}}</label>
                {% if field.field.required %}
                    <span style="color: red;" class="required">*</span>
                {% endif %}

                {{field}}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <!-- main form end --- in our case product form -->

    <!-- inline form for resource_person start -->
    {% with named_formsets.resource_persons as formset %}
        {{ formset.management_form }}
        <script type="text/html" id="resource_persons-template">
            <tr id="resource_persons-__prefix__" class= hide_all>
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}

                {% for fields in formset.empty_form.visible_fields %}
                    <td>{{fields}}</td>
                {% endfor %}
            </tr>
        </script>
        <div class="table-responsive card mt-4">
            <div class="card-header card-header-secondary">
                <h4 class="card-title">Add resource_persons</h4>
            </div>
            <table class="table card-header">
                <thead class="text-secondary">
                    <th>Name <span style="color: red;" class="required">*</span></th>
                    <th>DoB <span style="color: red;" class="required">*</span></th>
                    <th>PIN <span style="color: red;" class="required">*</span></th>
                    <th>Delete?</th>
                </thead>
                <tbody id="item-resource_persons">
                    {% for error in formset.non_form_errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                    {% for formss in formset %}
                        {{ formss.management_form }}
                        <tr id="resource_persons-{{ forloop.counter0 }}" class= hide_all>
                            {{ formss.id }}
                            {% for field in formss.visible_fields %}
                                <td>
                                    {{field}}
                                    {% for error in field.errors %}
                                        <span style="color: red">{{ error }}</span>
                                    {% endfor %}

                                    {% comment %} {{ field.DELETE }} {% endcomment %}
                                </td>
                            {% endfor %}
                            {% comment %} for delete {% endcomment %}

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="#" id="add-resource_person-button" class="btn btn-secondary add-resource_persons">Add More</a> <!-- id="add-inlineformsetname-button" -->
        </div>

        {% endwith %}
        <!-- inline form for resource_person end -->

    <!-- inline form for resource_item start -->

    <!-- EXPLAINING with named_formsets.resource_items as formset -->
    <!-- Note: named_formsets is used in get_context_data function in views.py -->
    <!-- Note: here resource_items is our resource_itemFormSet name, used in get_named_formsets function in views.py -->
    {% with named_formsets.resource_items as formset %}
        {{ formset.management_form }}
        <script type="text/html" id="resource_items-template">  // id="inlineformsetname-template"
            // id='inlineformsetname-__prefix__'
            <tr id="resource_items-__prefix__" class= hide_all>
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}

                {% for fields in formset.empty_form.visible_fields %}
                    <td>{{fields}}</td>
                {% endfor %}
            </tr>
        </script>
        <div class="table-responsive card mt-4">
            <div class="card-header card-header-secondary">
                <h4 class="card-title">Add resource_items</h4>
            </div>
            <table class="table card-header">
                <thead class="text-secondary">
                    <th>Name <span style="color: red;" class="required">*</span></th>
                    <th>Quantity <span style="color: red;" class="required">*</span></th>
                    <th>Price <span style="color: red;" class="required">*</span></th>
                    <th>Delete?</th>
                    <th>Custom Delete btn</th>
                </thead>
                <tbody id="item-resource_items">  <!-- id="item-inlineformsetname" -->
                    <!-- formset non forms errors -->
                    {% for error in formset.non_form_errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                    {% for formss in formset %}
                        {{ formss.management_form }}
                        <tr id="resource_items-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                            {{ formss.id }}
                            {% for field in formss.visible_fields %}
                                <td>
                                    {{field}}
                                    {% for error in field.errors %}
                                        <span style="color: red">{{ error }}</span>
                                    {% endfor %}

                                    {% comment %} {{ field.DELETE }} {% endcomment %}
                                </td>
                            {% endfor %}
                            {% comment %} for delete {% endcomment %}
                            {% if formss.instance.pk %}
                                <td>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{formss.instance.pk}}">
                                        Delete
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{formss.instance.pk}}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel{{formss.instance.pk}}">Are Your Sure You Want To Delete This?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-footer">
                                                {%comment%}
                                                <a href="{% url 'products:delete_resource_item' formss.instance.pk %}" type="button" class="btn btn-primary">Yes, Delete</a>
                                                {%endcomment%}
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="#" id="add-resource_item-button" class="btn btn-secondary add-resource_items">Add More</a> <!-- id="add-inlineformsetname-button" -->
        </div>

        {% endwith %}
        <!-- inline form for resource_item end -->

        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-block">Submit</button>
        </div>
</form>

<script>
    $(document).ready(function() {
        // when user clicks add more btn of images
      $('.add-resource_persons').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-resource_persons').children().length;
          var tmplMarkup = $('#resource_persons-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-resource_persons').append(compiledTmpl);

          // update form count
          $('#id_resource_persons-TOTAL_FORMS').attr('value', count+1);
      });
  });

  $(document).ready(function() {
    // when user clicks add more btn of resource_items
      $('.add-resource_items').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-resource_items').children().length;
          var tmplMarkup = $('#resource_items-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-resource_items').append(compiledTmpl);

          // update form count
          $('#id_resource_items-TOTAL_FORMS').attr('value', count+1);
      });
  });
</script>

{% endblock content %}